@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
 }

.playfair {
  font-family: 'Playfair Display', serif;
}
.poppins {
  font-family: 'Poppins', sans-serif;
}

.mk{
  color: #c7c6c6;
}

.col-link{
  background-color:rgba(70, 184, 227, 0.1);
}
.download{
  background-color: rgba(70, 184, 227, 0.1);
}

.hero{
    background-color: rgb(24, 24, 54);
    background-image:linear-gradient(to bottom, rgba(219, 219, 220, 0.8), rgba(219, 219, 220, 0.8)), url('/public/banner1.png'); 
    min-height: 575px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;

}
.dash{
  background-color: rgba(73, 176, 214, 0.119);
}
.dash1{
  background-color: rgba(49, 159, 67, 0.143) ;
}
.dash2{
  background-color: rgba(197, 33, 170, 0.129);
}
.test{
  background-color: rgba(197, 33, 132, 0.244);
}
.test1{
  background-color: rgba(70, 185, 227, 0.244);
}
.test2{
  background-color: rgba(49, 159, 67, 0.244);
}
.test3{
  background-color: rgba(2, 17, 64, 0.244);
}
.eye{
  background-color: rgba(70, 185, 227, 0.211);
}
.accept{
  background-color: rgba(11, 110, 79, 0.358);
}
.cancel{
  background-color: rgba(197, 33, 132, 0.339);
}
.status{
  background-color: rgba(11, 110, 79, 0.7);
}